.gitignore
classes/*
target/*
out/*
.idea/*
.iml
*.asc
*.gif
*.iml
*.DS_Store
*.log
example/*
src/test/resource/eval/ACL_RD-TEC/corpus/full/xml/*
testdata/solr-testbed/ACLRDTEC/data/*
testdata/solr-testbed/GENIA/data/*
testdata/solr-testbed/jateCore/data/*
testdata/solr-testbed/ttc_wind/data/*
testdata/solr-testbed/ttc_mobile/data/*
/target/
.DS_Store
debug/*
*.tar.gz
src/test/resource/eval/ACL_RD-TEC/corpus/full/debug/
