classes/*
target/
out/*
.idea/
.iml
*.asc
*.gif
*.iml
*.DS_Store
*.log
index/*
*.fdx
*.fnm
*.nvm
*.si
*.tvx
*.tip
example/*
data/*
testdata/solr-testbed/*/data/
testdata/solr-testbed/scienceie/*
.DS_Store
debug/*
*.tar.gz
src/test/resource/eval/ACL_RD-TEC/corpus/full/debug/
*.json
*.lock
.classpath
.project
.settings/
*.csv
backup/
*.orig
ngram_eval/
src/test/resource/eval/ACL_RD-TEC/corpus/full/xml/
src/test/resource/eval/GENIA/gpml.css
src/test/resource/eval/GENIA/gpml.css.legend.html
src/test/resource/eval/GENIA/gpml.dtd
src/test/resource/eval/GENIA/gpml.readme.html
testdata/solr-testbed/knowmak/*
testdata/solr-testbed/ttc_mobile/*
testdata/solr-testbed/ttc_wind/*

