classes/*
target/*
out/*
.idea/*
.iml
*.asc
*.gif
*.iml
*.DS_Store
*.log
example/*
src/test/resource/eval/ACL_RD-TEC/corpus/full/xml/*
testdata/solr-testbed/ACLRDTEC/data/*
testdata/solr-testbed/GENIA/data/*
/target/
.DS_Store